header {
    background-image: url("../../Illustration/Batgame_1.png");
    height: 866px;
    background-size: cover;
    background-color: #cccccc;
    place-items: center;
}

header p {
    text-transform: uppercase;
    position: relative;
    top: 200px;
    font-size: 5rem;
    color: white;
}

.numero_question {
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    color: white;
}

form label {
    font-size: 20px;
    color: white;
    padding: 5px;
    border-radius: 0;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

label {
    background-color: grey;
    border-radius: 5px;
    padding: 5px;
}

.sticker_question {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.question {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.demarrer_quizz {
    text-align: center;
    font-size: 2.5em;
    background: linear-gradient(to right, grey, orange);
    border-radius: 5px;
    padding: 10px;
    color: white;
    margin-bottom: 50px;
}

input[type="submit"] {
    text-align: center;
    font-size: 2.5em;
    background: linear-gradient(to right, grey, orange);
    border-radius: 5px;
    color: white;
    margin-top: 70px;
    margin-bottom: 50px;
    height: 50px;
    width: 500px;
    padding: 10px;
}